# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

DOMAIN_NAME=fruteria.ml
TLS_EMAIL=r.gc@hotmail.es
DJANGO_ENV=[development|production|local]

# === Django ===
# Generate yours with:
# python3 -c 'import secrets; print(secrets.token_hex(50))'

DJANGO_SECRET_KEY=__CHANGEME__


# === Database ===

MYSQL_DATABASE=fmgorders
MYSQL_USER=fmgorders
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=3306
